[submodule "third_party/eigen-git-mirror"]
	path = third_party/eigen-git-mirror
	url = https://github.com/eigenteam/eigen-git-mirror
[submodule "boost"]
	path = boost
	url = https://github.com/boostorg/boost
[submodule "third_party/glog"]
	path = third_party/glog
	url = https://github.com/google/glog
