[submodule "third_party/eigen-git-mirror"]
	path = third_party/eigen-git-mirror
	url = https://github.com/eigenteam/eigen-git-mirror
[submodule "third_party/boost"]
	path = third_party/boost
	url = https://github.com/boostorg/boost
[submodule "third_party/glog"]
	path = third_party/glog
	url = https://github.com/google/glog
[submodule "third_party/mnist"]
	path = third_party/mnist
	url = https://github.com/wichtounet/mnist
