[submodule "third_party/eigen-git-mirror"]
	path = third_party/eigen-git-mirror
	url = https://github.com/eigenteam/eigen-git-mirror
[submodule "third_party/boost"]
	path = third_party/boost
	url = https://github.com/boostorg/boost
