# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# In the solution folder delete all bin, ipch, build, cmake-build-debug directories.
bin/
ipch/
build/
cmake-build-debug/
bin/bootstrap

.DS_Store
.vscode/
.idea/